<div class="control-group">
  <label for="town" class="control-label">town</label>
  <div class="controls">
    <%- contentTag('input', ticket.town, {type:'text', class:'span6', name:'town'}) %>
  </div>
</div>
<div class="control-group">
  <label for="area" class="control-label">area</label>
  <div class="controls">
    <%- contentTag('input', ticket.area, {type:'text', class:'span6', name:'area'}) %>
  </div>
</div>
<div class="control-group">
  <label for="status" class="control-label">status</label>
  <div class="controls">
    <%- contentTag('input', ticket.status, {type:'text', class:'span6', name:'status'}) %>
  </div>
</div>
<div class="control-group">
  <label for="lastUpdate" class="control-label">lastUpdate</label>
  <div class="controls">
    <%- contentTag('input', ticket.lastUpdate, {type:'date', class:'span2', name:'lastUpdate'}) %>
  </div>
</div>
