<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Welcome to AEE Indicents</h1>
  <p>We are under construction...</p>
  <p><%- linkTo('Lets get you started »', '#', {class: 'btn btn-primary btn-large'}) %></p>
</div>
